<form action="/" method="post">
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      name="taskName"
      placeholder="Task Name"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      name="taskDescription"
      placeholder="Task Description"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      name="creator"
      placeholder="Creator"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="number"
      name="duration"
      placeholder="Duration (minutes)"
      required
    />
  </div>
  <center>
    <button class="btn btn-dark" type="submit">Add Task</button>
  </center>
</form>
